.app {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  width: fit-content;
  padding: 10px;
  text-align: center;
  gap: 10px;
  align-items: stretch;
}

html {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.pending-list,
.completed-list {
  padding: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  width: fit-content;
  list-style-type: none;
  gap: 10px;

}

.pending-list li,
.completed-list li {
  display: flex;
  justify-content: space-between;
}

.pending-list li span,
.completed-list li span {
  flex-grow: 1;
  text-align: center;
}

.lists-container {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}